.footer {
  padding: 60px 20px;
  background: #fff;

  &_content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
  }

  &_info {
    h3 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
      color: #000;
    }

    p {
      font-size: 16px;
      color: #404040;
      margin-bottom: 10px;
    }
  }
}