.channels {
    color: white;
    background: url('../../shared/images/image6.jpeg') center/cover no-repeat;
    height: calc(100vh - 90px);

    display: flex;
    justify-content: center;

    & > div {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
    }

    &_title {
      font-size: 50px;
      line-height: 1.2;
      text-shadow:
              20px 0 30px rgba(0, 0, 0, 1),
              -20px 0 30px rgba(0, 0, 0, 1),
              0 0 20px rgba(0, 0, 0, 1);
    }

    button {
      font-size: 20px;
      box-shadow: 10px 10px 16px 1px rgba(34, 60, 80, 0.2);
    }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
  }

  &_intro {
    display: flex;
    padding: 60px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 10px;

    &_title {
      font-size: 26px;
      margin-bottom: 10px;
    }

    &_desc {
      font-size: 24px;
      text-align: center;
      margin: 0 auto 80px;
      max-width: 80%;
    }
  }

  &_values {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin-top: 40px;
  }

  &_value {
    background: #fff;
    border-radius: 20px;
    width: 70%;
    padding: 30px;
    box-shadow: 7px 7px 14px 2px rgba(34, 60, 80, 0.2);
    border-left: 5px solid var(--primary-color);
    color: #404040;

    h3 {
      margin-bottom: 10px;
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }
  }

  &_value_right {
    align-self: flex-end;
  }
}
