.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &_logo {
    display: inline-block;

    & > img {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
  }

  &_content {
    box-shadow: 3px 3px 10px 2px rgba(34, 60, 80, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
  }

  &_nav {
    display: flex;
    gap: 20px;
    font-size: 18px;
    position: relative;
    align-items: center;
  }
}