.contact{
  color: white;
  background: url('../../shared/images/image5.jpeg') center/cover no-repeat;
  height: calc(100vh - 90px);

  display: flex;
  justify-content: center;

  & > div {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }

  &_title {
    font-size: 50px;
    line-height: 1.2;
    text-shadow:
            20px 0 30px rgba(0, 0, 0, 1),
            -20px 0 30px rgba(0, 0, 0, 1),
            0 0 20px rgba(0, 0, 0, 1);
  }

  &_desc {
    font-size: 24px;
    text-shadow: 0 3px 8px rgba(0, 0, 0, .6), 0 6px 20px rgba(0, 0, 0, .4);
  }

  &_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    padding: 90px 20px 0;
    text-align: center;
    max-width: 80%;

    & > div, form {
      width: calc(50% - 15px);

      @media (max-width: 700px) {
        width: 100%;
      }
    }

    h3 {
      font-size: 24px;
      margin: 0 auto 80px;
      text-align: center;
      max-width: 80%;
    }
  }

  &_details {
    max-width: 50%;
    max-height: 60vh;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      max-height: 60vh;
      object-fit: contain;
    }
  }
}

.ant-input {
  height: 50px;
}

.ant-form-item-vertical .ant-form-item-label >label {
  font-weight: 600 !important;
  font-size: 16px !important;
}

.flex {
  display: flex;
  align-items: center;
  gap: 20px;

  & > div {
    width: calc(50% - 10px);
  }
}

.ant-form-item.input_active {
  .ant-input,
  .ant-input-affix-wrapper,
  .ant-input-textarea {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 4px 2px var(--primary-color);
  }
}