@font-face {
  font-family: 'Helvetica';
  src: url('../shared/fonts/Helvetica.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  transition: all 0.5s ease-in-out;
}

:root {
  --primary-color: #E60039;
}

body {
  position: relative;
  background: #f7f6f2;
  color: #404040;
}

.link_header {
  font-variation-settings: "wght" 400;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  transition:
          transform 0.5s,
          color 0.5s,
          font-variation-settings 0.5s;

  &:not(.dropdown):hover {
    transform: scale(1.06);
    color: var(--primary-color);
    font-weight: 600;
    font-variation-settings: "wght" 600;
  }
}

.ant-menu-overflow-item {
  width: max-content !important;
  min-width: 90px !important;
  padding: 0 !important;
}

.ant-menu-overflow {
  border: none !important;
}

.ant-menu-submenu-open {
  border: none !important;
}

.ant-menu-title-content {
  font-variation-settings: "wght" 400;
  text-decoration: none;
  font-size: 18px;
  color: #404040 !important;
  display: flex;
  align-items: center;
  transition:
          transform 0.5s,
          color 0.5s,
          font-variation-settings 0.5s;
}

.ant-menu-submenu-selected::after {
  border: none !important;
}

.active {
  color: var(--primary-color);
  font-weight: 600;
}

button {
  background: none;
  border: none;
}

p {
  line-height: 1.6;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.layout {
  position: relative;
}

.line {
  width: 60px;
  height: 4px;
  background: var(--primary-color);
}

.modal_btn {
  margin-top: 20px;
  width: 100%;
}


.mySwiper {
  height: 500px;
  padding: 90px 20px;
  width: 80%;
  margin-bottom: 50px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  color: var(--primary-color);
}

.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  color: var(--primary-color);
}

span {
  color: var(--primary-color);
}

/*.ant-menu-horizontal > .ant-menu-item::after,*/
/*.ant-menu-horizontal > .ant-menu-submenu::after,*/
/*.ant-menu-item::after,*/
/*.ant-menu-submenu::after {*/
/*  border-bottom: none !important;*/
/*}*/

.ant-menu-horizontal > .ant-menu-item:hover::after,
.ant-menu-horizontal > .ant-menu-submenu:hover::after,
.ant-menu-horizontal > .ant-menu-item-active::after,
.ant-menu-horizontal > .ant-menu-submenu-active::after {
  border-bottom: none !important;
}

.ant-menu-item-selected,
.ant-menu-submenu-selected {
  background-color: transparent !important;
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  color: #E60039 !important;
}
